<header>
  <div class="logo">Openports.org</div>
  <input type="text/css" placeholder="Search by name...">
  <div class="buttons">
    <%= link_to "New port", new_port_path %>
    <a href="#">Login</a>
  </div>
</header>

